{% extends "layout.html" %}

{% block head %}
{{ super() }}
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="152x152"
    href="{{ "images/apple-touch-icon-precomposed-152.png"|resolveAsset }}">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<meta property="og:image" content="jibanananda.jpg">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40360244-2"></script>
{% endblock %}
{% block style %}
{### Include theme css before plugins css ###}
<link rel="stylesheet" href="{{ "style.css"|resolveAsset }}">

{{ super() }}

{### Custom stylesheets for the book ###}

{% for type, style in config.styles %}
{% if fileExists(style) and type == "website" %}
<link rel="stylesheet" href="{{ style|resolveFile }}">
{% endif %}
{% endfor %}
{% endblock %}

{% block body %}{% endblock %}